/*Import de la feuille de style de la page 404*/
@import url("layout/404.css");

/*Police à refaire*/
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*Reset CSS*/
@import url('layout/reset.css');

/*Utils -> variables | ajout des polices et des couleurs Figma*/
@import url('utils/variables.css');

/*Import du main.css*/
@import url('base/main.css');

/*Import de la feuille de style pour l'en tête*/
@import url('layout/header.css');

/*Import de la feuille de style pour le corps*/
@import url('layout/body.css');

/*Import de la feuille de style pour le pied de page*/
@import url('layout/footer.css');

/*Import de la feuille de style pour la page inscription*/
@import url('layout/signupbody.css');
