
/*Code pour les éléments de l'accueil*/
.title__blumee{
    font-family: var(--Quicksand);
    font-size: 7.37rem;
}

.bloc__home{
    margin-top: 4.5%;
    margin-left: 10%;
    color: var(--white);
}

.tagline{
    font-family: var(--Quicksand);
    font-size: 2.63rem;
}

.signup__button{
    font-family: var(--Raleway);
    font-size: 16px;
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 50px;
    padding: 9px 25px;
    cursor: pointer;
    margin-left: 18%;
    margin-top: 5%;
}

.signup__button:hover{
    background-color: var(--white);
    color: var(--peach);
    font-weight: 900;
}

/*Début de la page descriptifs*/

.section__00{
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, var(--peach), 75%, var(--soft-beige)) ;
}

.under__section__00{
    padding-bottom: 72px;
}

@media screen and (min-width: 1367px) {
    .under__section__00{
        padding-bottom: 310px;
    }
    
}

.sep__line{
    background-color: gray;
    width: 500px;
    height: 2px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.bloc__sep__line{
    display: flex;
    justify-content: center;
}

.section__01{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.white__card__00, .white__card__01{
    width: 450px;

}

/*Début de la partie fonctionnalités*/

.section__02{
    padding-top: 50px;
    background-image: url('../../../assets/icons/frame.svg');
    background-position: center top;
    background-size: 100% auto;
    padding-bottom: 50px;
}


.feature__01{
    display: flex;
}

.title__features{
    font-family: var(--Quicksand);
    font-size: 3.68rem;
    text-align: center;
    color: #5C5C5C;
}

.title__feature{
    font-size: 25px;
    color: #5C5C5C;
    padding-bottom: 10px;
}

.bloc__align{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.elements__00{
    display: flex;
    justify-content: space-evenly;
}

.sous__elements__00{
    font-family: var(--Mulish);
    width: 30%;
    padding-left: 30px ;
    padding-top: 30px;
}

.bloc__icon__00{
    display: flex;
    align-items: flex-end;
}

.elements__01{
    display: flex;  
    flex-direction: row-reverse;  
    justify-content: space-evenly;
    padding-top: 60px;
}

.sous__elements__01{
    font-family: var(--Mulish);
    width: 30%;
    padding-left: 30px ;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.bloc__icon__01{
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.mockup{
    width: 250px;
}

.bloc__icon__00bis{
    padding-left: 40px;
    padding-top: 65px ;
}

/*Début de la partie card premium*/

.section__03{
    padding-top: 100px ;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#cercle {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background: linear-gradient(180deg, var(--peach), 60%, var(--soft-beige)) ;  
}

.align{
    display: flex;
    justify-content: center;
}

.title__premium{
    font-family: var(--Mulish);
    font-size: 48px;
    color: #4F4F4F;
    text-shadow: 0px 5px 10px grey;
    padding-top: 20px;
}

.card__premium{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 500px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 0px 20px grey;
}
.under__card__premium{
    text-align: center;
}
.card__price{
    font-family: var(--Montserrat);
    padding-top: 30px;
}

.column__card__check{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.align__text__premium{
    display: flex;
    align-items: center;
}

.card__check{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}

.icon__check{
    width: 37px;
}

.text__premium{
    font-family: var(--Raleway);
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
}

.bold{
    font-weight: 900;
}

.btn__card{
    padding-top: 30px;
}
.btn__tentez{
    font-family: var(--Raleway);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 100px;
    margin-right: 100px;
    color: var(--white);
    padding: 9px 25px;
    background-color: var(--peach);
    opacity: 1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn__tentez:hover{
    background-color: var(--soft-beige);
    color: var(--peach);
    font-weight: 900;
}

/*Début de la partie card formulaire*/

.bloc__quote{
    padding-top: 50px;
    text-align: center;
}

.text__quote{
    font-family: var(--Mulish);
    font-size: 48px;
    color: #4A4A4A;
    text-shadow: 0px 4px 5px grey;
}

.logo__center{
    text-align: center;
    padding: 70px 0px;
}

.align__form{
    display: flex;
     justify-content: center;
}
.card__form{
    display: flex;
    justify-items: center;
    width: 500px;
    height: 460px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
}
/*Fomulaire de contact*/

form{
    padding-top: 30px;
    font-family: var(--Raleway)
}

  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    font-family: var(--Raleway);
    border: 1px solid #ccc;
    background-color: #F3F3F3;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: 0px 0px 10px grey;
  }

label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
.btn__send__center{
      text-align: center;
  }

.btn__send__img{
      width: 60px;
  }

.container {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius:5px;
    padding:20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin:0 auto;
  }

textarea{
      resize: none;
  }

#subject{
      height: 200px;
  }
.title__contact{
      font-family: var(--Mulish);
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
  }