header{
    font-family: var(--Raleway);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    padding-top: 30px;
    padding-right: 5%;
    padding-bottom: 0;
    padding-left: 5%;
    background: linear-gradient(90deg, var(--peach), 75%, var(--soft-beige)) ;
    
}

.logo__blumee{
    cursor: pointer;
    margin-right: auto;
    width: 60px;
}

.nav__links li{
    display: inline-block;
    padding: 5px 20px;
}

.nav__links li a {
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover  {
    padding-top: 10px;
    border-top: 1px solid var(--white); 
}

.signin__button{
    font-family: var(--Raleway);
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
    color: var(--white);
    padding: 9px 25px;
    background-color: var(--peach);
    opacity: 1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.signin__button:hover{
    background-color: var(--soft-beige);
    color: var(--peach);
  
}
