.section__00__signup{
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, var(--peach), 75%, var(--soft-beige)) ;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.under__section__00__signup{
    padding-bottom: 72px;
}

.bloc__home__signup{
    margin-top: 4.5%;
    margin-left: 10%;
    color: var(--white);
}

.bloc__home__signup{
    margin-top: 4.5%;
    margin-left: 10%;
    color: var(--white);
}

.title__blumee__signup{
    font-family: var(--Quicksand);
    font-size: 7.37rem;
}

.tagline__signup{
    font-family: var(--Quicksand);
    font-size: 2.63rem;
    width: 460px;
}

.section__signup__right{
    padding-top: 50px;
}

.input__signup{
    width: 50%;
    display: block;
    padding: 12px;
    font-family: var(--Raleway);
    border: 1px solid #ccc;
    background-color: #F3F3F3;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: 0px 0px 10px grey;
}
.account, .accept{
    font-family: var(--Raleway);
    font-size: 15px;
    color: var(--white);
}

.accept{
    padding-top: 10px;
}


.btn__signup{
    font-family: var(--Raleway);
    font-size: 16px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    color: var(--white);
    padding: 9px 25px;
    background-color: var(--peach);
    opacity: 1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn__signup:hover{
    background-color: var(--soft-beige);
    color: var(--peach);
}

@media screen and (min-width: 1367px){
    .section__00__signup{
    padding-top: 130px;;
    }
}

/*input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    font-family: var(--Raleway);
    border: 1px solid #ccc;
    background-color: #F3F3F3;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: 0px 0px 10px grey;
  }*/

