*:before,
*:after {
  box-sizing: content-box;
}


/*Couleur de fond dégradé du body*/
/*body:before {
	content:"";
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1; 
	background: linear-gradient(90deg, var(--peach), 75%, var(--soft-beige)) ;
}*/


/*Reset des éléments de surlignage des liens */
a{
    text-decoration: none;
    color: var(--white);
}


